:root {
    --bg: #F7F7F7;
    --text: #1a1a1a;
    --white: #fff;
    --lightGray: #dddddd;
    --midGray: #AFAFAF;
    --darkGray: #656565;
    --orange: #FF8B00;
    --lightOrange: #FFC31A;
    --red: #FF0000;

    --default-font-size: 12px;
    --default-font-height: 16px;
    --font-family: 'Nunito', sans-serif;
}

